/*Header design*/
#header-background{
  width: 80%;
  height: 8em;
  z-index: 1;
  float: right;
  position: relative;
}
#header-title{
  width: 20%;
  height: 8em;
  background-color: #161616;
  z-index: 2;
  color: white;
  position: relative;
  margin-bottom: 8em;
}
.embold-text{
  font-size: 1.5em;
  font-family: bitter;
}
.medium-emboldment{
  font-size: 1.3em;
  font-family: bitter;
}
.shadow{
  box-shadow: 0em 1em 2em 0em grey;
}
/*End of header design*/
/*Body content*/
body{
background-color: antiquewhite;
}
/*Carousel*/
.border{
  margin-top: -8em;
}
.carousel-inner .item img{
height: 50em;
width:100%;
}
#float-right{
  float: right;
}
.navbar-color{
background-color: #0095FF;
color: red;
font-family: bitter;
font-size: 1.1em;
}
